absl-py==0.13.0
astor==0.8.1
atomicwrites==1.4.0
attrs==21.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cmake==3.20.2
colorama==0.4.4
cycler==0.10.0
Cython==0.29.23
cython-bbox @ git+https://github.com/yanfengliu/cython_bbox.git@e7b95b6dc0933b10bd0ec02b90755a12ca996c68
decorator==4.4.2
dlib==19.22.0
easydict==1.9
face-alignment==1.3.4
gast==0.3.3
google-auth==1.32.1
google-auth-oauthlib==0.4.4
grpcio==1.38.1
idna==2.10
imageio==2.9.0
importlib-metadata==4.6.0
iniconfig==1.1.1
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.1
llvmlite==0.36.0
Markdown==3.3.4
matplotlib==3.4.2
munkres==1.1.4
natsort==7.1.1
networkx==2.5.1
nibabel==3.2.1
numba==0.53.1
numpy==1.19.3
oauthlib==3.1.1
opencv-python==4.5.2.54
packaging==21.0
paddlepaddle==2.1.0
pandas==1.2.5
Pillow==8.2.0
pluggy==0.13.1
protobuf==3.17.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pyparsing==2.4.7
pytest==6.2.4
pytest-runner==5.3.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scipy==1.6.3
seaborn==0.11.1
six==1.16.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardx==2.4
terminaltables==3.1.0
thop==0.0.31.post2005241907
tifffile==2021.6.6
timm==0.1.20
toml==0.10.2
torch==1.8.0+cu111
torchaudio==0.8.0
torchfile==0.1.0
torchvision==0.9.0+cu111
tornado==6.1
tqdm==4.61.0
typing-extensions==3.10.0.0
urllib3==1.26.5
visdom==0.1.8.9
websocket-client==1.1.0
Werkzeug==2.0.1
wincertstore==0.2
zipp==3.4.1
